

<% @pizzas.each do |pizza| %>
	<div class="stolen-frosty span6 offset3 ">
		<h1 class="stolen-h1">

		<%= pizza.name  %>
		</h1>
		<h2>
			Lat: <%= pizza.lat  %>
		</h2>

		<h2>
		 	Lng: <%= pizza.lng  %>
		</h2>

<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?zoom=13&size=600x300&maptype=roadmap
&markers=color:blue%7Clabel:#{pizza.name}%7C#{pizza.lat},#{pizza.lng}&sensor=false" %>


		<br/>
	</div>
<% end %>